# various droppings
*.pyc
*~
.DS_Store
*.c
*.cpp
*.so
*.AppleDouble

# build dir
build/

# docs dir
notes_n_demos/_build/
notes_n_demos/demos/*.rst

# scratch work unless specifically staged
scripts/
scripts/*.py

# various figures
*.mp4
*.png
*.pdf
*.eps
