cycler
decorator
envisage
ipython
lxml
matplotlib
mpmath
networkx
numexpr
numpy
pandas
patsy
pip
progressbar
pyface
pyqtgraph
tables
h5py
pytz
scikit-learn
scipy
seaborn
setuptools
six
statsmodels
traits
traitsui
nose
cython
