cycler
decorator
envisage
ipython
lxml
matplotlib
mpmath
nbsphinx
numexpr
numpy
pandas
patsy
pip
pyface
pyqtgraph
tables
h5py
pytz
scikit-learn
scipy
seaborn
setuptools
Sphinx
sphinx-rtd-theme
six
statsmodels
traits
traitsui
nose
cython
